In [1]:
import sqlite3 as sq

In [4]:
conn=conn=sq.connect('text.db')#db연동

In [5]:
cur=conn.cursor()#커서 생성

In [24]:
cur.executescript("""

drop table artist;
drop table genre;
drop table album;
drop table track;
    
    create table artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name text
        );
    create table genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name text
        );
    create table album(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title text,
        artist_id INTEGER 
        );
    create table track(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title text,
        length INTEGER,
        count INTEGER,
        rating INTEGER,
        album_id INTEGER,
        genre_id INTEGER
        );
        
    insert into artist (name) values('Led zepplin');
    insert into artist (name) values('AC/DC');
    
    insert into genre (name) values('Rock');
    insert into genre (name) values('Metal');
    
""")

In [25]:
cur.execute('select * from artist')

In [26]:
print(cur.fetchall())

[(1, 'Led zepplin'), (2, 'AC/DC')]

In [27]:
cur.execute('insert into album (title, artist_id) values ("Who Made Who",2)')
cur.execute('insert into album (title, artist_id) values ("IV",1)')

In [29]:
cur.executescript("""
insert into Track (title, rating, length, count, album_id, genre_id) values ('Black Dog', 5, 297, 0, 2, 1);
insert into Track (title, rating, length, count, album_id, genre_id) values ('Stairway', 5, 482, 0, 2, 1);
insert into Track (title, rating, length, count, album_id, genre_id) values ('About to Rock', 5, 313, 0, 1, 2);
insert into Track (title, rating, length, count, album_id, genre_id) values ('Who Made Who', 5, 207, 0, 1, 2);
""")

In [37]:
cur.execute('select Album.title, Artist.name from Album join Artist on Album.artist_id=Artist.id')

In [38]:
print(cur.fetchall())

[('Who Made Who', 'AC/DC'), ('IV', 'Led zepplin')]

In [41]:
cur.execute('select Artist.name, Album.title from artist join album on artist.id=album.artist_id')

In [42]:
for i in cur.fetchall():
    print(i)

('AC/DC', 'Who Made Who')
('Led zepplin', 'IV')

In [44]:
cur.execute("select Track.title, Artist.name, Album.title, Genre.name \
    from Track \
    join Artist join Album join Genre on \
    Track.album_id = Album.id \
    and \
    Track.genre_id = Genre.id \
    and \
    Album.artist_id = Artist.id")

In [45]:
for i in cur.fetchall():
    print(i)

('Black Dog', 'Led zepplin', 'IV', 'Rock')
('Stairway', 'Led zepplin', 'IV', 'Rock')
('About to Rock', 'AC/DC', 'Who Made Who', 'Metal')
('Who Made Who', 'AC/DC', 'Who Made Who', 'Metal')

#### 덤프 만들기

In [47]:
conn.close()
con=sq.connect('text.db') 
with open('dump.sql','w')as f:
    for line in con.iterdump():
        f.write('%s\n' %line)

In [48]:
con.close()

#### 덤프 불러오기

In [53]:
data=None

with open('dump.sql','r') as f:
    data=f.read()

cur=conn.cursor()
cur.executescript(data)

In [59]:
conn=sq.connect('text.db')

In [60]:
data=None

with open('dump.sql','r') as f:
    data=f.read()

cur=conn.cursor()
cur.executescript(data)

In [62]:
cur.execute('select * from Album')
for i in cur.fetchall():
    print(i)

(1, 'Who Made Who', 2)
(2, 'IV', 1)

In [63]:
cur.execute("insert into track (title) values('아무거나')")