In [1]:
from sqlalchemy import create_engine

In [48]:
engine=create_engine("sqlite:///orm2.db",echo=True)#엔진에서 물고만있다 #base와 engine은 main함수와 같은 역할

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
from sqlalchemy.ext.automap import automap_base

In [5]:
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base()

In [38]:
#Base=automap_base()

In [39]:
#Base.prepare(engine, reflect=True)#엔진 반영(불러오기)

2018-07-12 10:36:26,369 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:36:26,371 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:36:26,374 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:36:26,377 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:36:26,380 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-12 10:36:26,383 INFO sqlalchemy.engine.base.Engine ()

In [6]:
from sqlalchemy.orm import sessionmaker

In [7]:
from sqlalchemy import Column, Integer, String, ForeignKey

In [8]:
Session=sessionmaker(bind=engine)

In [9]:
session = Session()

In [10]:
from sqlalchemy.orm import relationship

In [11]:
class Artist(Base):
    __tablename__='artist'
    id=Column(Integer, primary_key=True)
    name=Column(String)
    album=relationship("Album", back_populates="artist")
    #Album클래스에서 artist어트리뷰를 따라가면 여기에 온다
    
    def __repr__(self):
        return "<T'artist(name='%s')>" %(self.name)
    
class Album(Base):
    __tablename__='album'
    id=Column(Integer, primary_key=True)
    title=Column(String)
    title_id=Column(Integer, ForeignKey("artist.id"))
    artist=relationship("Artist", back_populates="album", uselist=False)#1:n의관계 리스트를 안쓴다
    #Artist클래스에서 album어트리뷰트가 이 클래스와 연관되어있다 uselist는 리스트 안씀 즉 1개만 가능(앨범 하나가 여러 아티스트 연결 불가)
    
class Genre(Base):
    __tablename__='genre'
    id=Column(Integer, primary_key=True)
    name=Column(String)
    
class Track(Base):
    __tablename__='track'
    id=Column(Integer, primary_key=True)
    title=Column(String)
    album_id=Column(Integer, ForeignKey("album.title"))
    genre_id=Column(Integer, ForeignKey("genre.id"))

In [43]:
Base.metadata.create_all(engine)#Base가 테이블에 대해서 상속받는다 #metadata는 데이터에 대한 데이터 #engine을 사용해서 메타데이터 정의

2018-07-12 11:37:46,254 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-12 11:37:46,256 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:46,260 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-12 11:37:46,263 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:46,266 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-12 11:37:46,268 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:46,271 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-12 11:37:46,273 INFO sqlalchemy.engine.base.Engine ()

In [12]:
artist1=Artist(name="Led zepplin")
artist2=Artist(name="AC/DC")

In [13]:
artist1.album=[Album(title="IV"), Album(title="Who Made Who")]

In [14]:
from sqlalchemy.orm import sessionmaker

In [15]:
Session = sessionmaker(bind=engine)

In [16]:
session = Session()

In [41]:
session.add(artist1)

In [18]:
print(artist1.id, artist1.name, artist1.album[0].id)

None Led zepplin None

In [30]:
artist1.album[0].title='IV'

In [31]:
print(artist1.album[0].title)

IV

In [26]:
session.dirty

IdentitySet([])

In [47]:
session.commit()