#### lambda

In [1]:
def definition():#def다음은 헤더
    #여기는 바디
    pass#이건 형태만 구별해주는애

SyntaxError: unexpected EOF while parsing (<ipython-input-1-47a53130a8b0>, line 2)

In [2]:
def moon_sun():
    print(0)
    #return None 숨어있음

In [5]:
def moon_sun2():
    return 0

In [7]:
1+moon_sun()

1

In [8]:
import dis

In [9]:
type(dis)

module

In [10]:
dir(dis)

['Bytecode',
 'COMPILER_FLAG_NAMES',
 'EXTENDED_ARG',
 'FORMAT_VALUE',
 'HAVE_ARGUMENT',
 'Instruction',
 '_Instruction',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_disassemble_bytes',
 '_disassemble_str',
 '_format_code_info',
 '_get_code_object',
 '_get_const_info',
 '_get_instructions_bytes',
 '_get_name_info',
 '_have_code',
 '_test',
 '_try_compile',
 '_unpack_opargs',
 'cmp_op',
 'code_info',
 'collections',
 'dis',
 'disassemble',
 'disco',
 'distb',
 'findlabels',
 'findlinestarts',
 'get_instructions',
 'hascompare',
 'hasconst',
 'hasfree',
 'hasjabs',
 'hasjrel',
 'haslocal',
 'hasname',
 'hasnargs',
 'io',
 'opmap',
 'opname',
 'pretty_flags',
 'show_code',
 'stack_effect',
 'sys',
 'types']

In [12]:
dis.dis(moon_sun)#내부적으로 실행이 어떻게 되는지 보여줌

  2           0 LOAD_CONST               1 (0)
              2 RETURN_VALUE

#### 파라미터와 아규먼트의 차이
- function f(x,y){
- return x+y;
- };
- 에서 x,y가 파라미터라고 할수 있다.

- 함수를 호출할 때 이 때 사용하게 되는 일련의 값들을 아규먼트라고 부른다.
- 예컨대 위에 파라미터의 예를 들었던 함수를 호출한다고 하면,
- f(3,4);
- 에서 3,4등이 아규먼트이다.

In [13]:
def sum_two(x,y):
    return x,y

#### 파라미터방식

In [17]:
sum_two(1,2)

(1, 2)

#### 키워드 방식

In [16]:
sum_two(y=1,x=2)

(2, 1)

####  *의 의미는 나머지 모든애(리스트)

In [18]:
a,*b,c=1,2,3,4,5,6,7,8

In [19]:
b

[2, 3, 4, 5, 6, 7]

In [25]:
def lists(x,*y):
    return y

In [26]:
lists(1,2,3,4,5,6,7,8)

(2, 3, 4, 5, 6, 7, 8)

In [27]:
def lists2(x,*y,z):
    return y

#### 밑에건 에러난다 *은 항상 양 끝

In [30]:
lists2(1,2,3,4,5,6,7,8)

TypeError: lists2() missing 1 required keyword-only argument: 'z'

#### *다음거는 반드시 지정 해줘야함

In [31]:
lists2(1,2,3,4,5,6,7,z=8)

(2, 3, 4, 5, 6, 7)

#### *뒤에 이름 안붙임

In [37]:
def keyword(*,x,y):
    return x,y

In [38]:
keyword(x=2,y=2)

(2, 2)

#### 입력할때는 반드시 변수 갯수 맞춰서 넣어줘야함

#### 기본값이 지정된 변수는 맨뒤에

In [41]:
def stan(x=3,y):
    return x,y

SyntaxError: non-default argument follows default argument (<ipython-input-41-42d9657a4ec9>, line 1)

In [50]:
def stan(x,y=7,z=1):
    return x,y,z

In [51]:
stan(3,3)

(3, 3, 1)

In [52]:
stan(3)

(3, 7, 1)

In [54]:
stan(1,z=10)

(1, 7, 10)

In [55]:
def or_func(x or 5):
    print x

SyntaxError: invalid syntax (<ipython-input-55-8fb058d0b045>, line 1)

In [57]:
def or_func(x):
    print(x)

In [59]:
or_func(3 or False)

3

In [60]:
a=input('input')
or_func(a or 23)

input
23

In [61]:
a=input('input')
or_func(a or 23)

inputas
as

#### _의 쓰임(파이썬은 왼쪽에서 오른쪽으로 계산한다) : 불필요한 값을 _에 넣는다

In [65]:
x,_,_ = 2,3,2

In [66]:
_

2

#### *자리에 여러가지를 넣을 수 있다

In [71]:
def fun1(x,*y):
    return x,y

In [72]:
fun1(1,*(1,2,3,4,5))

(1, (1, 2, 3, 4, 5))

In [78]:
fun1(1, *frozenset([1, 2, 3]))

(1, (1, 2, 3))

In [81]:
list('fus roda')

['f', 'u', 's', ' ', 'r', 'o', 'd', 'a']

In [83]:
list({1,2,3,4})

[1, 2, 3, 4]

#### 파라미터의**은 딕셔너리 넣을 때 사용 
#### 아규먼트의**은 unpacking하는 용도

In [88]:
def fun2(x,**z):
    return x,z

In [89]:
fun2(1,a=2,y=3)

(1, {'a': 2, 'y': 3})

In [91]:
def fun3(x,**z):
    if 'a' in z:
        print('aaa')
    return x,z

In [92]:
def fun4(x,*y,**z):
    return x,y,z

In [100]:
fun4(1,1,2,3,4,**{a=3,b=4,c=5})#**은 풀어헤쳐야하는 경우에만 쓴다 여기서는 풀어헤지면 딕셔너리를 못넣으므로 쓰면 에러난다

SyntaxError: invalid syntax (<ipython-input-100-b1d594df501c>, line 1)

In [105]:
x={'a':1, 'b':2}
y={3:'c', 4:'d'}

In [108]:
z={**x}

In [109]:
z

{'a': 1, 'b': 2}

In [111]:
z={**y}

In [112]:
z

{3: 'c', 4: 'd'}

In [154]:
def type_check(x):
    if type(x) in [list, tuple, range]:
        print('hou')
    else:
        print('not hou')

In [155]:
type_check(1)

not hou

#### 함수에 넣을 딕셔너리는 키값으로 숫자를 넣으면 안됨
#### *, **은 묶인거 풀때만 사용

#### 파이썬의 함수는 first class function, high-order function

In [158]:
for i in x:
    print(i)#키값만 출력됨

a
b

In [172]:
for i in x.values():#value만 출력됨
    print(i)

1
2

In [165]:
for i,j in x.items():#키, value 둘다
    print(i,j)

a 1
b 2

In [170]:
for i in x:#value만 출력됨
    print(x[i])

1
2

In [174]:
from collections import OrderedDict#시퀀스 기능 딕셔너리

In [175]:
z={1:'b',2:'a'}

In [176]:
z

{1: 'b', 2: 'a'}

In [2]:
import seaborn as sns

In [4]:
type(sns)

module

In [5]:
dir(sns)

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'cm',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'jointplot',
 'kdeplot',
 'light_palette',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'pointplot',
 'rcmod',
 'regplot',
 'regression',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [6]:
data= sns.load_dataset('tips')

In [7]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
dir(data)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_compare_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [12]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [13]:
data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [17]:
data.groupby('time').mean()

        total_bill       tip      size
time
Lunch    17.168676  2.728088  2.411765
Dinner   20.797159  3.102670  2.630682

In [19]:
q=[]
for i in range(1,11):
    q.append(i)
q

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### q=[x for x in range(1,11)] 리스트 만들기 개쩌는 방법
- =list(range(1,11))

#### 튜플은 이걸로 안됨

In [29]:
q=(x for x in range(1,11) if x%2==0)

In [30]:
q

In [37]:
q=[x for x in range(0,11,2)]

In [38]:
q

[0, 2, 4, 6, 8, 10]

In [39]:
[range(1,11)]

[range(1, 11)]

In [40]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 함수 활용에 있어서 map, filter, reduce가 제일 중요함

In [41]:
su=0
for i in range(1,11):
    su+=i
su

55

In [42]:
sum(range(1,11))

55

In [43]:
range(1,11)

range(1, 11)

In [46]:
type([range(1,11)])

list

In [57]:
list(map(lambda x:x+2, (1,2)))

[3, 4]

In [58]:
def add_two(x):
    return x+2

In [63]:
print(list(map(add_two,{1,2,3})))

[3, 4, 5]

In [70]:
print(list(map(lambda x:x>2, (1,2,3))))

[False, False, True]

In [87]:
all([1,2,0])

False

In [88]:
any([0,1,0])

True

In [89]:
all([1,2,3])

True

In [90]:
any([0,0,0])

False

In [93]:
sorted([1,4,3])

[1, 3, 4]

In [95]:
sorted([1,4,3],reverse=True)

[4, 3, 1]

In [97]:
sorted(['a','A'],key=str.upper)

['a', 'A']

In [106]:
enumerate([1,2,3])

In [107]:
b=(x for x in range(1,11))

In [108]:
b

In [110]:
def a():
    return [1,2,3,4,5]

In [114]:
xx=a()

In [116]:
type(xx)

list

In [117]:
for i in xx:
    print(i)

1
2
3
4
5

In [118]:
dir(enumerate)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [119]:
dir(map)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [120]:
dir(filter)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [121]:
for i in b:
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 한방에 메모리에 다 올리면 실행속도는좋다 raise기법
#### 조금씩 올리면 range기법

In [125]:
for i,j in enumerate(range(3,11)):
    print(i,j)

0 3
1 4
2 5
3 6
4 7
5 8
6 9
7 10

#### enumerate는 index 생성해줌

In [128]:
for i,j in enumerate(range(3,11),1):
    print('index:',i,'value:',j)

index: 1 value: 3
index: 2 value: 4
index: 3 value: 5
index: 4 value: 6
index: 5 value: 7
index: 6 value: 8
index: 7 value: 9
index: 8 value: 10

In [134]:
for i in map(lambda x:x>3,range(1,11)):
    if i == True:
        print(i)

True
True
True
True
True
True
True

In [135]:
a=3
b=4 if a>1 else 0

In [136]:
b

4

In [143]:
c=[x if x>5 else '' for x in range(10)]

In [144]:
c

['', '', '', '', '', '', 6, 7, 8, 9]

In [151]:
for i in range(1,10):
    for j in range(1,10):
        print(j,'*',i,'=',i*j,'\t',end='')
    print('\n')

1 * 1 = 1 	2 * 1 = 2 	3 * 1 = 3 	4 * 1 = 4 	5 * 1 = 5 	6 * 1 = 6 	7 * 1 = 7 	8 * 1 = 8 	9 * 1 = 9

1 * 2 = 2 	2 * 2 = 4 	3 * 2 = 6 	4 * 2 = 8 	5 * 2 = 10 	6 * 2 = 12 	7 * 2 = 14 	8 * 2 = 16 	9 * 2 = 18

1 * 3 = 3 	2 * 3 = 6 	3 * 3 = 9 	4 * 3 = 12 	5 * 3 = 15 	6 * 3 = 18 	7 * 3 = 21 	8 * 3 = 24 	9 * 3 = 27

1 * 4 = 4 	2 * 4 = 8 	3 * 4 = 12 	4 * 4 = 16 	5 * 4 = 20 	6 * 4 = 24 	7 * 4 = 28 	8 * 4 = 32 	9 * 4 = 36

1 * 5 = 5 	2 * 5 = 10 	3 * 5 = 15 	4 * 5 = 20 	5 * 5 = 25 	6 * 5 = 30 	7 * 5 = 35 	8 * 5 = 40 	9 * 5 = 45

1 * 6 = 6 	2 * 6 = 12 	3 * 6 = 18 	4 * 6 = 24 	5 * 6 = 30 	6 * 6 = 36 	7 * 6 = 42 	8 * 6 = 48 	9 * 6 = 54

1 * 7 = 7 	2 * 7 = 14 	3 * 7 = 21 	4 * 7 = 28 	5 * 7 = 35 	6 * 7 = 42 	7 * 7 = 49 	8 * 7 = 56 	9 * 7 = 63

1 * 8 = 8 	2 * 8 = 16 	3 * 8 = 24 	4 * 8 = 32 	5 * 8 = 40 	6 * 8 = 48 	7 * 8 = 56 	8 * 8 = 64 	9 * 8 = 72

1 * 9 = 9 	2 * 9 = 18 	3 * 9 = 27 	4 * 9 = 36 	5 * 9 = 45 	6 * 9 = 54 	7 * 9 = 63 	8 * 9 = 72 	9 * 9 = 81

In [183]:
c=[(j,'*',i,'=',i*j) for i in range(1,10) for j in range(1,10) if i%2==1]

In [188]:
c

[(1, '*', 1, '=', 1),
 (2, '*', 1, '=', 2),
 (3, '*', 1, '=', 3),
 (4, '*', 1, '=', 4),
 (5, '*', 1, '=', 5),
 (6, '*', 1, '=', 6),
 (7, '*', 1, '=', 7),
 (8, '*', 1, '=', 8),
 (9, '*', 1, '=', 9),
 (1, '*', 3, '=', 3),
 (2, '*', 3, '=', 6),
 (3, '*', 3, '=', 9),
 (4, '*', 3, '=', 12),
 (5, '*', 3, '=', 15),
 (6, '*', 3, '=', 18),
 (7, '*', 3, '=', 21),
 (8, '*', 3, '=', 24),
 (9, '*', 3, '=', 27),
 (1, '*', 5, '=', 5),
 (2, '*', 5, '=', 10),
 (3, '*', 5, '=', 15),
 (4, '*', 5, '=', 20),
 (5, '*', 5, '=', 25),
 (6, '*', 5, '=', 30),
 (7, '*', 5, '=', 35),
 (8, '*', 5, '=', 40),
 (9, '*', 5, '=', 45),
 (1, '*', 7, '=', 7),
 (2, '*', 7, '=', 14),
 (3, '*', 7, '=', 21),
 (4, '*', 7, '=', 28),
 (5, '*', 7, '=', 35),
 (6, '*', 7, '=', 42),
 (7, '*', 7, '=', 49),
 (8, '*', 7, '=', 56),
 (9, '*', 7, '=', 63),
 (1, '*', 9, '=', 9),
 (2, '*', 9, '=', 18),
 (3, '*', 9, '=', 27),
 (4, '*', 9, '=', 36),
 (5, '*', 9, '=', 45),
 (6, '*', 9, '=', 54),
 (7, '*', 9, '=', 63),
 (8, '*', 9, '=', 72),
 (9, '*', 9, '=', 81)]

In [195]:
d=[(i,j,k) for i in range(1,10) for j in range(1,10) for k in range(1,10) if i<3 and j<5 and k<2]

In [196]:
d

[(1, 1, 1),
 (1, 2, 1),
 (1, 3, 1),
 (1, 4, 1),
 (2, 1, 1),
 (2, 2, 1),
 (2, 3, 1),
 (2, 4, 1)]

In [218]:
def mutab(x,y=[]):
    y.append(x)
    return y

In [219]:
print(mutab(1))

[1]

In [220]:
print(mutab(2))

[1, 2]

In [221]:
print(mutab(1))

[1, 2, 1]

In [222]:
import time

In [224]:
time.time()

1530770575.6179566

In [226]:
def time_at(time=time.time()):
    return time

In [228]:
time_at()

1530770725.8781517

In [229]:
time_at()

1530770725.8781517

In [232]:
time.sleep(5)

In [233]:
time_at()

1530770725.8781517

In [236]:
def moon(self=None):
    return self

In [237]:
moon

In [238]:
moon()

In [239]:
moon(1)

1

In [251]:
x=1
y=3
def a():
    x=2
    print('.x',x)
    print('.y',y)
    return x,y
print('..a()',a())
print('...x',x)
print('...y',y)

.x 2
.y 3
..a() (2, 3)
...x 1
...y 3

In [253]:
x=1
def a():
    global x
    x+=2
    print('.x',x)
    return x

print('..a()',a())
print('...x',x)

.x 3
..a() 3
...x 3

#### global 변수는 함수 밖의 값도 바꿀 수 있다
#### 밑의 함수는 함수 안에 x가 없기 때문에 실행이 안됨
#### 사용은 웬만하면 자제하자

In [254]:
x=1
def a():
    #global x
    x+=2
    print('.x',x)
    return x

print('..a()',a())
print('...x',x)

UnboundLocalError: local variable 'x' referenced before assignment

In [255]:
dir(keyword)

NameError: name 'keyword' is not defined

In [256]:
import keyword

In [257]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [ ]:
x=1
def a():
    x=3
    def b(x):
        nonlocal x
        return x
    return b
    global x
print(a()(1))
print(x)

#### global 변수와 local변수가 이름이 같으면 global x 하면 local이 global로 바뀐다